*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release
*.apk
*.aab
*.png
*.jpg
*.jpeg
*.zip
*.tar.gz
*.ap_

# Subproject build artifacts
*/build
*/.gradle
*/gradle/wrapper/gradle-wrapper.jar
*/gradle/wrapper/gradle-wrapper.properties
*/.backup
*/.operit
